.petPageWrapper{
    margin: 5% var(--padding-outer);
    background-color: white;
    padding: 50px;
}
.topPetPageInfo{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.petInfo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-right: var(--padding-outer);
}
.petPageNotification{
    margin: 20px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: lightgray;
    padding: 30px 60px;
    text-align: center;
}
.appoGrid{
    padding: 30px 60px;
    background-color: lightgray;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}